.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-5kei4TkhcW0K);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-afn3GZWzxVgY);
  font-family: var(--token-I3IqXBKo7QXr);
  font-size: var(--token-z_Af7Vh4qFeu);
  line-height: var(--token-0ManRzNcTgeR);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-5wEGrPcOif2v);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-Sb6CZtF4u75r);
  outline-offset: 1px;
  outline-color: var(--token-5kei4TkhcW0K);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-QxizW3zPkXdJ);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-HHBP4o6sNPGS);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-cB3YOWbf-0Iv);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-viHGO9_FDOZg);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-MVS-VbefE5er);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-1BnVuRrDJFne);
  font-size: var(--token-3woB82nsJp_B);
  column-gap: var(--token-Sb6CZtF4u75r);
  row-gap: 0px;
  border-radius: var(--token-cq5NhsmU5aP3);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-3woB82nsJp_B);
  line-height: var(--token-1BnVuRrDJFne);
  column-gap: var(--token-cq5NhsmU5aP3);
  row-gap: 0px;
  border-radius: var(--token-cq5NhsmU5aP3);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-DrqoycAFsKCm);
  line-height: var(--token-NPTwR25j2-KO);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-DrqoycAFsKCm);
  line-height: var(--token-NPTwR25j2-KO);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-D4iYyIB7SSTr);
  border-radius: var(--token-5wEGrPcOif2v);
}
.softBackgroundcolor_neutral {
  background: var(--token-w4XGHUMZ-mRD);
}
.softBackgroundcolor_muted {
  background: var(--token-i7arvJlmYbKG);
}
.softBackgroundcolor_success {
  background: var(--token-Mmnm9VEKoxMO);
}
.softBackgroundcolor_warning {
  background: var(--token-LYz8O6qa0ejc);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-i2Tn_BxWZaFI);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-5wEGrPcOif2v);
  border: 0px solid var(--token-hKt1BQ-ajzif);
}
.bordercolor_neutral {
  border-color: var(--token-Dj7NoGqePCBq);
}
.bordercolor_muted {
  border-color: var(--token-3CUT0zJ-Gc2V);
}
.bordercolor_success {
  border-color: var(--token-63vlzZT5xivd);
}
.bordercolor_warning {
  border-color: var(--token-Pgje5yp6ikiU);
}
.bordercolor_errorDestructive {
  border-color: var(--token-1DvKpqR7Fpto);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-5wEGrPcOif2v);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-5hwSc-B_m2ym);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-OTmq07xwEIqf);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-CmgjwbD7AIkz);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__sxqZn {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-5wEGrPcOif2v) var(--token-DuArS5uQKM6i);
}
.freeBox__sxqZn > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-5wEGrPcOif2v));
  width: calc(100% + var(--token-5wEGrPcOif2v));
}
.freeBox__sxqZn > :global(.__wab_flex-container) > *,
.freeBox__sxqZn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sxqZn > :global(.__wab_flex-container) > picture > img,
.freeBox__sxqZn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-5wEGrPcOif2v);
}
.freeBoxsize_extraSmall__sxqZn2VZp2 {
  padding: var(--token-cq5NhsmU5aP3) var(--token-5wEGrPcOif2v);
}
.freeBoxsize_small__sxqZnAlTo {
  padding: var(--token-5wEGrPcOif2v) var(--token-afn3GZWzxVgY);
}
.freeBoxsize_large__sxqZn6QAah {
  padding-top: var(--token-cq5NhsmU5aP3);
  padding-bottom: var(--token-cq5NhsmU5aP3);
}
.freeBoxsize_extraLarge__sxqZn1HHrg {
  padding-left: var(--token-G27hyeb-YCkT);
  padding-right: var(--token-G27hyeb-YCkT);
}
.freeBoxroundedFull__sxqZnh9J3 {
  padding-right: var(--token-G27hyeb-YCkT);
  padding-left: var(--token-G27hyeb-YCkT);
}
.freeBox___9W5NA {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___9W5NA5NcOt {
  display: flex;
}
.slotTargetStart {
  color: var(--token-_g5f7yZEvONU);
}
.slotTargetStartcolor_neutral {
  color: var(--token-3pmPFpztLMyV);
}
.slotTargetStartcolor_muted {
  color: var(--token-YOCBi5j4Pq2w);
}
.slotTargetStartcolor_success {
  color: var(--token-57uZtc4TogFj);
}
.slotTargetStartcolor_warning {
  color: var(--token-LRYIsjTIZnmC);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-PDo3E84V8pYl);
}
.slotTargetStarttype_soft {
  color: var(--token-N3IxrFLxbvY2);
}
.slotTargetStarttype_bordered {
  color: var(--token-N3IxrFLxbvY2);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-3woB82nsJp_B);
}
.slotTargetStartsize_small {
  font-size: var(--token-3woB82nsJp_B);
}
.slotTargetStartsize_large {
  font-size: var(--token-DrqoycAFsKCm);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-DrqoycAFsKCm);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-68CpCppd8MHD);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-68CpCppd8MHD);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-SwNON5KXCxKF);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-SwNON5KXCxKF);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-FfdAgTXifm-Q);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-FfdAgTXifm-Q);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-0DBEUEq6DKwU);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-0DBEUEq6DKwU);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-SxBFYmHGlRl_);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-SxBFYmHGlRl_);
}
.svg__kGijY {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-_g5f7yZEvONU);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-3pmPFpztLMyV);
}
.slotTargetLabelcolor_muted {
  color: var(--token-YOCBi5j4Pq2w);
}
.slotTargetLabelcolor_success {
  color: var(--token-57uZtc4TogFj);
}
.slotTargetLabelcolor_warning {
  color: var(--token-LRYIsjTIZnmC);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-PDo3E84V8pYl);
}
.slotTargetLabeltype_soft {
  color: var(--token-N3IxrFLxbvY2);
}
.slotTargetLabeltype_bordered {
  color: var(--token-N3IxrFLxbvY2);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-68CpCppd8MHD);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-SwNON5KXCxKF);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-68CpCppd8MHD);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-FfdAgTXifm-Q);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-SwNON5KXCxKF);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-0DBEUEq6DKwU);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-FfdAgTXifm-Q);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-SxBFYmHGlRl_);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-0DBEUEq6DKwU);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-SxBFYmHGlRl_);
}
.text__mqGtW {
  white-space: pre;
}
.freeBox__bkDfs {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__bkDfsZwbmr {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-_g5f7yZEvONU);
}
.slotTargetEndcolor_neutral {
  color: var(--token-3pmPFpztLMyV);
}
.slotTargetEndcolor_muted {
  color: var(--token-YOCBi5j4Pq2w);
}
.slotTargetEndcolor_success {
  color: var(--token-57uZtc4TogFj);
}
.slotTargetEndcolor_warning {
  color: var(--token-LRYIsjTIZnmC);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-PDo3E84V8pYl);
}
.slotTargetEndtype_soft {
  color: var(--token-N3IxrFLxbvY2);
}
.slotTargetEndtype_bordered {
  color: var(--token-N3IxrFLxbvY2);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-3woB82nsJp_B);
}
.slotTargetEndsize_small {
  font-size: var(--token-3woB82nsJp_B);
}
.slotTargetEndsize_large {
  font-size: var(--token-DrqoycAFsKCm);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-DrqoycAFsKCm);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-68CpCppd8MHD);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-68CpCppd8MHD);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-SwNON5KXCxKF);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-SwNON5KXCxKF);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-FfdAgTXifm-Q);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-FfdAgTXifm-Q);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-0DBEUEq6DKwU);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-0DBEUEq6DKwU);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-SxBFYmHGlRl_);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-SxBFYmHGlRl_);
}
.svg__bxXAn {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
